<section class="login-section">
  <div class="login-container">
    <h2 class="login-title">S'identifier</h2>
    <p class="login-description">Veuillez entrer votre email et votre mot de passe !</p>
    <form [formGroup]="loginForm" (submit)="submitForm()">
      <div class="form-group">
        <input type="email" id="typeEmailX" class="form-control form-control-lg"  formControlName="email" required/>
        <label class="form-label" for="typeEmailX">Email</label>
        <div *ngIf="validate_email()" class="error-message" >
          Il faut ajouter un email
        </div> 
      </div>

      <div class="form-group">
        <input type="password" id="typePasswordX" class="form-control form-control-lg"  formControlName="motdepasse" required />
        <label class="form-label" for="typePasswordX">Mot de passe</label>
        <div *ngIf="validate_password()" class="error-message" >
          Il faut ajouter un mot de passe
        </div>
      </div>

      <p class="forgot-password"><a href="#" class="link">Mot de passe oublié ?</a></p>

      <button type="submit" class="login-button">Se connecter</button>

      <p class="signup-link">Vous n'avez pas de compte? <a [routerLink]="['/sign-up']" class="link">S'inscrire</a></p>
    </form>
  </div>
</section>
